.px-1 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-1 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.pt-1 {
    padding-top: 1.25rem;
}

.py-2 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.border-bottom {
   border-bottom: 1px solid rgba(193, 201, 210, .5);
}

.pb-0 {
    padding-bottom: 0;
}

.d-block {
    display: block !important;
}

.pointer {
    cursor: pointer;
}